<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
         
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cocktail App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header class="ion-no-padding ion-padding-top" >
       <ion-toolbar>
          <ion-title>Nazdar</ion-title>
        </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar placeholder="Search">

      </ion-searchbar>
       <ion-button class="ion-margin-top" expand="block" color="success" (click)="recipe()">Go to Recipe</ion-button>
       <ion-item *ngFor="let recipeElement of recipeItemArray" class="ion-no-padding ion-padding-top">
        
             <ion-toolbar>
                <ion-title>{{recipeElement.name}}</ion-title>
                <ion-avatar slot="start">
                  <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                </ion-avatar>
              </ion-toolbar>

       </ion-item>
    </ion-card-content>
 </ion-card>
 
</ion-content>
