<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
         
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cocktail App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header class="ion-no-padding ion-padding-top" >
       <ion-toolbar>
          <ion-title>Nazdar</ion-title>
        </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
       <ion-button class="ion-margin-top" expand="block" color="success" (click)="recipe()">Go to Recipe</ion-button>
    </ion-card-content>
 </ion-card>
</ion-content>
